html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	display: flex;
}

body, canvas {
	background-color: black;
}

canvas {
	width: 100%;
	object-fit: contain;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

img {
	display: none;
}
